@font-face {
	font-family: 'Spoqa Han Sans Neo';;
	font-weight: 700;
	font-display: swap;
	src: local('SpoqaHanSansNeo Bold'), url('./SpoqaHanSansNeo-Bold.otf') format('opentype');
}

@font-face {
	font-family: 'Spoqa Han Sans Neo';;
	font-weight: 500;
	font-display: swap;
	src: local('SpoqaHanSansNeo Medium'), url('./SpoqaHanSansNeo-Medium.otf') format('opentype');
}

@font-face {
	font-family: 'Spoqa Han Sans Neo';;
	font-weight: 400;
	font-display: swap;
	src: local('SpoqaHanSansNeo Regular'), url('./SpoqaHanSansNeo-Regular.otf') format('opentype');
}

@font-face {
	font-family: 'Spoqa Han Sans Neo';;
	font-weight: 300;
	font-display: swap;
	src: local('SpoqaHanSansNeo Light'), url('./SpoqaHanSansNeo-Light.otf') format('opentype');
}

@font-face {
	font-family: 'Spoqa Han Sans Neo';;
	font-weight: 100;
	font-display: swap;
	src: local('SpoqaHanSansNeo Thin'), url('./SpoqaHanSansNeo-Thin.otf') format('opentype');
}
