@charset "UTF-8";

:root {
  --point-col: #5200ff;
  --point-col-op80: rgb(82 0 255 / 80%);
  --point-col-op50: rgb(82 0 255 / 50%);
  --point-col-op10: rgb(82 0 255 / 10%);
  --point-col-op02: rgb(82 0 255 / 2%);

  --darkgray: #4e4b5f;
  --darkgray-op80: rgb(78 75 95 / 80%);
  --darkgray-op50: rgb(78 75 95 / 50%);
  --darkgray-op20: rgb(78 75 95 / 20%);
  --darkgray-op05: rgb(78 75 95 / 5%);

  --white: #fff;
  --white-op80: rgba(255 255 255 / 80%);
  --white-op50: rgba(255 255 255 / 50%);
  --white-op20: rgba(255 255 255 / 20%);

  --black: #333;
  --black-op80: rgb(51 51 51 / 80%);
  --black-op50: rgb(51 51 51 / 50%);
  --black-op10: rgb(51 51 51 / 10%);
}

::selection {
  background: #000;
  color: #fff;
}
::-moz-selection {
  background: #000;
  color: #fff;
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: '';
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  scroll-behavior: smooth;
  letter-spacing: '';
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  pointer-events: none;
  /* -webkit-user-select: none !important;
	-moz-user-select: -moz-none !important;
	-ms-user-select: none !important;
	user-select: none !important; */
}
a,
button {
  all: unset;
  cursor: pointer;
  color: #424242;
  font-size: 16px;
  display: block;
  text-decoration: none;
  background: transparent;
  border: none;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: '';
}
select:focus,
select:active {
  outline: 0;
}
select::-ms-expand {
  display: none;
}
input {
  font-family: '';
}
input::placeholder {
  font-family: '';
  font-weight: 900;
  color: #d4d4d4;
  font-size: 14px;
}
input[type='text'],
input[type='tel'],
input[type='password'],
input[type='email'],
input[type='search'],
textarea {
  border-style: none;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  font-family: '';
}
input:focus,
textarea:focus {
  outline: none;
}
/*데스크탑에서 스크롤바 가리기
-------------------------------------------------------------------------------------*/
.gnb::-webkit-scrollbar-thumb:vertical {
  height: 0px;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 0px;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
